*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates
*.cache
*.dbmdl
*.bak
*.Backup
*.log
*.tlog
*.vspscc
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/
.vs/
.vscode/
.idea/
ScaffoldingReadMe.txt
publish/
*.nupkg
appsettings.json
*.snupkg
.nuget/
packages/
*.psess
*.vsp
*.vspx
*.sap
*.vspscc
*.vssscc
applicationhost.config
IISExpress/
secrets.json
*.pfx
*.key
*.crt
**/Migrations/**/*.Designer.cs
**/Migrations/**/*.resx
*.db
*.db-journal
wwwroot/lib/
node_modules/
docker-compose.override.yml
docker-compose.override.dev.yml