{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "AllowedHosts": "*",
  "OpenRouter": {
    "ApiKey": "s******#####"",
    "SiteUrl": "https://yourwebsite.com",
    "SiteName": "### Assistant"
  }
}